.list_st-voices:before {
  content: "";
  display: table; }

.list_st-voices:after {
  content: "";
  display: table;
  clear: both;
  overflow: hidden; }

.title_st-voices {
  width: 414px;
  height: 69px;
  background-image: url(../images/title_studentvoices.png); }

.list_st-voices li {
  float: left;
  margin-bottom: 30px;
  width: 365px;
  height: 600px;
  background-color: #ddd; }
  .list_st-voices li:nth-child(odd) {
    margin-right: 30px; }
  .list_st-voices li img {
    display: block;
    width: 365px;
    height: 365px; }
  .list_st-voices li .st-info {
    width: 365px;
    height: 235px; }
