@import "config";
@import "mixins";
@import "reset";

.wrap {
    position: relative;
    margin: 0 auto;
    width: 1400px;
    color: $clr_text;

    @extend %clearfix;
}

.bg {
    position: relative;
    width: 100%;
    height: 900px;

    .cover {
        position: absolute;
        z-index: 1;
        width: 633px;
        height: 900px;
        background-image: url(../images/cover.png);
    }

    video {
        width: 100%;
        height: 100%;
    }
}

.main {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
}

.container {
    margin: 0 auto;
    width: $minwidth;
}

.header {
    padding: 23px 0;
    height: $h_header;

    .logo {
        display: block;
        width: 253px;
        height: 33px;
        background-image: url(../images/logo.png);
    }
}

.nav {
    height: 64px;
    background-color: rgba(27,34,35,.902);

    .nav-list {
        @extend %clearfix;

        >li {
            position: relative;
            float: left;

            >a {
                position: relative;
                display: block;
                width: 200px;
                height: 100%;

                &:not(.online_assessment):not(.about_us) {
                    &::before {
                        content: '';
                        position: absolute;
                        top: 17px;
                        left: 0;
                        width: 1px;
                        height: 30px;
                        background-color: #fff;
                    }
                }

                &.our_team {
                    &::after {
                        content: '';
                        position: absolute;
                        top: 17px;
                        right: 0;
                        width: 1px;
                        height: 30px;
                        background-color: #fff;
                    }
                }
            }

            .nav-list-sec {
                display: none;
                position: absolute;
                z-index: 1;
                top: 64px;
                width: 100%;
                height: 100%;

                li {
                    padding: 0 20px;
                    width: 100%;
                    height: 45px;
                    background-color: #1b2223;
                    text-align: center;
                    line-height: 45px;

                    a {
                        color: #f1c40f;
                    }

                    &:not(:last-child) a {
                        display: block;
                        width: 100%;
                        height: 100%;
                        border-bottom: 1px dotted #f1c40f;
                    }
                }
            }

            &:hover {
                background-color: #1b2223;
                
                > .nav-list-sec {
                    display: block;
                }
            }
        }

    }
}

.location {
    height: 32px;
    line-height: 30px;

    a {
        color: #303030;
        text-decoration: underline;

        &.active {
            color: $clr_hover;
        }
    }
}

.main-content {
    padding: 64px 120px 100px 120px;
    height: 1000px;
    background-color: #fff;

    h2 {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 32px;
        font-size: 0;
    }

    .main-content_inner {
        @extend %clearfix;
    }
}

%col {
    width: 365px;
    float: left;
}

.col_left {
    @extend %col;

    margin-right: 30px;
}

.col_right {
    @extend %col;
}
