@import "config";
@import "mixins";
@import "reset";

.wrap {
    position: relative;
    margin: 0 auto;
    min-width: $minwidth;
    max-width: 1400px;
    height: 900px;
    color: $clr_text;

    @extend %clearfix;
}

.bg {
    position: relative;
    width: 100%;
    height: 900px;
    overflow: hidden;

    .cover {
        position: relative;;
        z-index: 1;
        margin: 0 auto;
        min-width: 1000px;
        height: 900px;
        background: url(../images/large-cover.png) no-repeat center 0;
    }

    video {
        position: absolute;
        top: 0;
        right: 0;
        width: 1400px;
        height: 900px;
    }
}

.main {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
}

.container {
    position: relative;
    margin: 0 auto;
    width: $minwidth;
}

.header {
    padding: 23px 0;
    height: $h_header;

    .logo {
        display: block;
        width: 253px;
        height: 33px;
        background-image: url(../images/logo.png);
    }
}

.nav {
    height: 64px;
    background-color: rgba(27,34,35,.902);

    .nav-list {
        @extend %clearfix;

        >li {
            position: relative;
            float: left;

            >a {
                position: relative;
                display: block;
                width: 200px;
                height: 100%;

                &:not(.online_assessment):not(.about_us) {
                    &::before {
                        content: '';
                        position: absolute;
                        top: 17px;
                        left: 0;
                        width: 1px;
                        height: 30px;
                        background-color: #fff;
                    }
                }

                &.our_team {
                    &::after {
                        content: '';
                        position: absolute;
                        top: 17px;
                        right: 0;
                        width: 1px;
                        height: 30px;
                        background-color: #fff;
                    }
                }
            }

            .nav-list-sec {
                display: none;
                position: absolute;
                z-index: 2;
                top: 64px;
                width: 100%;
                height: 196px;
                background-color: #1b2223;

                li {
                    padding: 0 20px;
                    width: 100%;
                    height: 40px;
                    text-align: center;
                    line-height: 40px;

                    a {
                        color: #f1c40f;
                    }

                    // &:not(:last-child)
                    a {
                        display: block;
                        width: 100%;
                        height: 100%;
                        border-bottom: 1px dotted #f1c40f;
                    }
                }
            }

            &:hover {
                background-color: #1b2223;

                > .nav-list-sec {
                    display: block;
                }
            }
        }

    }
}

.crumb {
    height: 32px;
    line-height: 30px;

    a {
        color: #303030;
        text-decoration: underline;
        transition: color .25s ease;

        &:hover,
        &.active {
            color: $clr_hover;
        }
    }
}

.main-content {
    margin: 0 auto;
    padding: 64px 0 100px;
    width: 1000px;
    height: 654px;
    overflow: auto;
    background-color: #fff;

    &::before {
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        top: 32px;
        width: 980px;
        height: 40px;
        background-color: #fff;
    }

    h2 {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 32px;
        font-size: 0;
    }

    .main-content_inner {
        @extend %clearfix;

        margin: 0 auto;
        width: 760px;
    }
}

%col {
    width: 365px;
    float: left;
}

.col_left {
    @extend %col;

    margin-right: 30px;
}

.col_right {
    @extend %col;
}
