@import "config";
@import "mixins";

.title_jp-univ {
    width: 414px;
    height: 69px;
    background-image: url(../images/title_jp-univ.png);
}

.opt {

}

.col_left .opt {

}

.col_right .opt {

}

.univ-list {
    
}
